.jumbotron 
{ min-height: 100px; }

#movie-form{
    margin: 0 auto;
    width:60%;
}

body{
    background-image: url("../assets/images/background1.jpg");
}

img{
    height: 230px;
    width: 250px;
    border: 13px;
    margin: 15px;
    object-fit: cover;
    
}
#characters-view{
    float:left;
}
#buttons-view{
    display: inline;
}